.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    border-bottom: 1px solid #e5e8eb;
    padding: 20.5px 40px;
    background-color: #000;
}

.headerContainer img {
    width: 120px;
    height: 46px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: cover;
    object-position: center;
}

.headerContainer__navigation {
    display: flex;
    align-items: center;
    column-gap: 36px;
}

.headerContainer__navigation-contact {
    background-color: #de2121;
    padding: 9px 16px;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    line-height: 24px;
    color: #fff;
    border-radius: 12px;
}